@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Helvetica';
}
a{
    text-decoration: none;
    color: black;
}
.inicio_menu{
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
 
}
.inicio_items{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    width: 60%;
    
}
.entrar{
    color: #23272a;
    width: 60px;
    height: 35px;
    font-size: 12px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: .5s ease
}
.entrar:hover{
    color: #5865f2;
    box-shadow: 0px 10px  25px #23272a50;
    transition: .5s ease;
    /* border: 1px solid #5865f2; */
}
.logo img{
     width: 150px;
    height: 150px;
    fill: white;
}
.items{
    color: white;
    margin: 10px;
}
.items:hover{
    border-bottom: 1px solid white;
}
.inicio{
    width: 100%;
    height:69vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #404eed;
    position: relative;
    color: white;
}

.conteudo_inicio{
    width: 800px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.conteudo_inicio h1{
    width: 400px;
    line-height: 50px;
    font-weight: 800;
    font-size: 56px;
}
.conteudo_inicio p{
    font-size:16px;
    margin-top:20px;
    margin-bottom:20px;

}
.bgs{
    width: 100%;
    position: absolute;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
  
    bottom: 0;
}
.bg1:nth-child(2){
    position: absolute;
    right: -30px;
    /* background-color: blue; */
}

.download{
    width: 350px;
    height: 60px;
    /* background-color: red; */
    border-radius: 32px;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    transition: .5s ease;


}
.download:nth-child(1){
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: #ffffff;
    color: #23272a;
    width: 260px;
}
.download ion-icon{
    width:30px;
    margin-right: 10px;
    height: 30px;
}
.download:nth-child(2){
    background-color: #23272a;
    color: white
}
.download:hover:nth-child(1){
        color: #5865f2;
        box-shadow: 0px 10px  25px #23272a50;
        transition: .5s ease;
}
.download:hover:nth-child(2){
    background-color: #484f53;
    box-shadow: 0px 10px  25px #23272a50;
    transition: .5s ease;
}

.links_{
    width: 730px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg{
    width: 100%;
    height: auto;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    right: 0;
    /* left: 0; */
}

/*  */


.content{
    width: 100%;
    height:70vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: relative;
    color: #23272a;
}
.content:nth-child(4){
    background-color: #f6f6f6;
}
.content_text{
    width: 600px;
    
}
.content_text:nth-child(2){
    margin-left: 100px;

}
.content_text:nth-child(3){
    margin-right: 100px;

}
.content_text h1{
    width: 350px;
    margin-bottom: 20px;
    font-size: 42px;
}
.content_text p{
    font-size: 18px;
    font-weight: 300;
    width: 430px;
    text-align: left;
}


.conteudo_c{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.download_section{
    width: 100%;
    height: 150vh;
    justify-content: center;
    align-items: flex-start;
    background-color: #f6f6f6;
}
.conteudo_d{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 
    margin-top: 100px
}
.conteudo_d h1{
    font-size: 48px;
    font-weight:900;
    line-height: 40px;
    margin-bottom: 30px;
}

.content_img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: red;
    margin-top: 20px;
    
}
.content_img img{
    width: 1300px;
    position: absolute;
    top: 10px;

}
.conteudo_d p{
    width: 1000px;
}

.dowload_bt_se{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10rem;
    width: 550px;
    /* background-color: red; */


}
.content_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    /* background-color: red; */
    
}
.content_btn h1{
    font-size: 30px;
    color: #5865f2;
    /* position: absolute; */
}

.title img{
    position: absolute;
    bottom: 55px;
    width: 530px;
    right: -35px;
  
}
.title{
    position: relative;
}

.btn_d{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    font-size: 17px;
    height: 50px;
    color: #ffffff;
    /* position: absolute; */
    border-radius: 32px;
    background-color: #5865f2;
    transition: .5s ease;
}

.btn_d:hover{
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.822);
    opacity: 0.7;
}


.footer{
    background-color: #23272a;
    width:100%;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_cima{
    width:70%;
    margin-top: 70px;
    display: grid;
    border-bottom: 1px solid #5865f2;
    padding-bottom: 30px;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.footer_baixo{
    width:70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    height: 100%;
    
    
}
.footer_baixo img{
    width: 130px;
    height: 130px;
}
.contatos{
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.contatos h1{
    font-size:42px;
    width: 300px;
    margin-bottom: 10px;
    color: #5865f2;
}

.list_redes_socias ion-icon{
    color: white;
    width: 23px;
    height: 23px;
    margin-left: 10px;
    
}
.list{
 

    display: flex;
    flex-direction: column;
}
.list h1{
    color: #5865f2;
    font-size: 16px;
    font-weight: 300;
}
.list a{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 300;
}
.list a:hover{
   text-decoration:underline;
}
.register{
    width: 80px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-color: #5865f2;
    color: white;
}